@import "src/theme/variables";

.market-header {
  box-shadow: 0 13px 21px -9px rgba(34, 60, 80, 0.2);

  .logo {
    margin-right: 16px;
  }

  .search {
    max-width: 250px;
  }

  .description {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 205px;
    margin-right: 16px;
    margin-left: 16px;

    &__image {
      margin-right: 6px;

      & > i {
        font-size: 20px;
        color: $color-gray-500;
      }
    }

    & > .description__info {
      display: flex;
      flex-direction: column;

      .description__info-label {

      }
      .description__info-text {
        text-decoration: none;
        color: $color-gray-500;
      }
    }
  }
}
