<header class="market-header">
  <div class="container pt-2 pb-2 d-flex align-items-center justify-content-between">
    <img class="logo" src="images/logo.png" alt="Logo">
    <input class="search form-control" [(ngModel)]="searchTerm"/>

    <div class="description">
      <div class="description__image">
        <i class="fas fa-phone-alt fa-2x"></i>
      </div>
      <div class="description__info">
        <span class="description__info-label">Служба доставки</span>
        <a class="description__info-text" href="tel:+78005553535"><span>+7 (800) 555-35-35</span></a>
      </div>
    </div>

    <div class="description">
      <div class="description__image">
        <i class="far fa-clock fa-2x"></i>
      </div>
      <div class="description__info">
        <span class="description__info-label">Время работы</span>
        <a class="description__info-text" href="javascript:void(0)"><span>пн · вс - с 10</span></a>
      </div>
    </div>

    <div class="description">
      <div class="description__info">
        <span class="description__info-label">Личный кабинет</span>
        <a class="description__info-text" href="javascript:void(0)"><span>Корзина</span></a>
      </div>
    </div>
  </div>
</header>
