@import "src/theme/variables";
@import "src/theme/typography";

.market-header {
  box-shadow: 0 13px 21px -9px rgba(34, 60, 80, 0.2);
  @include text-15;

  .logo {
    margin-right: 16px;
  }

  .search {
    max-width: 270px;
  }

  .description {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 205px;
    margin-right: 24px;
    margin-left: 24px;

    &__image {
      margin-right: 6px;

      & > i {
        font-size: 20px;
        color: $color-gray-500;
      }
    }

    & > .description__info {
      display: flex;
      flex-direction: column;

      .description__info-label {

      }

      .description__info-text {
        text-decoration: none;
        color: $color-gray-500;
      }
    }
  }

  .market-header__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    padding: 8px 10px;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
    border: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: $color-gray-200;
    }
  }
}

@media (max-width: 1200px) {
  .market-header {
    .description {
      display: none;
    }
  }
}
