<div class="container">
	<h1 class="mt-2">О компании</h1>
	<div class="content mb-4">
		Первый гриль-бар «ШашлыкоFF» был открыт <b>в центре Новосибирска в 2009 году</b> – и моментально стал популярным, благодаря вкусному и доступному шашлыку.<br>
		<br>
		<span style="font-size: 15pt;"><b>SRP-group</b></span> – это:<br>
		<ul>
			<li>для всех – вкусная еда из свежих и качественных продуктов;</li>
			<li>постоянно – достойный сервис для наших гостей;</li>
			<li>всегда – уютный интерьер и атмосфера хорошего настроения.</li>
		</ul>
		<b>Наши гриль-бары – для вас!<br></b>
		<br>
		Главное – чтобы вам было комфортно. Наша концепция – демократичность, хорошая кухня и высокое качество обслуживания. Все это вы найдете в гриль-баре «ШашлыкоFF».
		<br>
		Вкусные, сочные шашлыки и стейки. Приветливый персонал. Цены, которые не бьют по карману. Ну, и конечно, стильный интерьер, мягкие диваны, столы для больших и маленьких
		компаний. И теплые пледы, которые передадут вам наше тепло.<br>
		<br>
		Вам захотелось окунуться в эту дружественную, светлую атмосферу? Так приходите скорее! Нас легко найти: гриль-бары «ШашлыкоFF» есть практически в каждом районе города.
		<br>
		<br>
		В гриль-барах «ШашлыкоFF» мы предлагаем вам самое лучшее! Наши блюда гриль мы готовим только из охлажденного мяса, потому, что в нем сохраняются все полезные витамины и
		микроэлементы.
		<br>
		<br>
		Каждое блюдо мы готовим, как для себя: тщательно следим за процессом прожарки, с любовью переворачиваем каждый кусочек. Мы уделяем огромное внимание вкусу наших блюд. И
		отдаемся процессу приготовления полностью – ведь это наша работа.Только один шашлык есть неинтересно, поэтому мы позаботились о гарнире. Хрустящая картошечка, маринованный
		лучок, салат и фирменный соус идеально дополняют кулинарную картину!
		<br>
		<br>
		<b>Доставка</b>
		<br>
		<br>
		Все наши фирменные блюда, салаты, супы и десерты вы можете отведать, посетив любой из гриль-баров «ШашлыкоFF». Но, если у Вас по какой-то причине не получается к нам
		прийти, не отчаивайтесь. Наша служба доставки легко решит эту проблему. Закажите любое блюдо из нашего меню прямо на сайте в разделе "ШашлыкоFF доставка" – и его в лучшем
		виде доставят вам домой или на работу.
		<br>
	</div>
</div>