<nav class="header-navbar">
	<ul ngbNav class="nav container">
		<li [ngbNavItem]="0" class="nav-item">
			<a ngbNavLink routerLink="/menu" routerLinkActive="active">
				<i class="fas fa-book-open"></i>
				<span>Меню</span>
			</a>
		</li>
		<li [ngbNavItem]="1" class="nav-item">
			<a ngbNavLink routerLink="/bars" routerLinkActive="active">
				<i class="fas fa-map-marked-alt"></i>
				<span>Гриль-бары</span>
			</a>
		</li>
		<li [ngbNavItem]="2" class="nav-item">
			<a ngbNavLink routerLink="/sales" routerLinkActive="active">
				<i class="fas fa-percent"></i>
				<span>Акции</span>
			</a>
		</li>
		<li [ngbNavItem]="3" class="nav-item">
			<a ngbNavLink routerLink="/info" routerLinkActive="active">
				<i class="fas fa-fire-alt"></i>
				<span>О компании</span>
			</a>
		</li>
		<li [ngbNavItem]="4" class="nav-item">
			<a ngbNavLink routerLink="/delivery" routerLinkActive="active">
				<i class="fas fa-truck"></i>
				<span>Доставка</span>
			</a>
		</li>
		<li [ngbNavItem]="5" class="nav-item">
			<a ngbNavLink routerLink="/franchise" routerLinkActive="active">
				<i class="fas fa-globe"></i>
				<span>Франшиза</span>
			</a>
		</li>
	</ul>
</nav>
