@import "src/theme/variables";

.page__footer {
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;

  .container {
    height: 100%;
  }
  .footer__info {
    flex-grow: 1;
    padding: 38px 0;

    .nav {
      list-style: disc;
      display: block;

      .nav-item {
        color: $color-gray-500;
      }
      .nav-link {
        color: $color-gray-300;
        padding-left: 0.5rem;

        &:hover {
          color: $color-gray-500;
        }
      }
    }

    .description {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 205px;
      margin-right: 24px;
      margin-left: 24px;
      margin-bottom: 6px;

      &__image {
        margin-right: 12px;
        height: 24px;
        width: 20px;

        & > i {
          font-size: 20px;
          color: $color-gray-500;
        }
      }

      & > .description__info {
        display: flex;
        flex-direction: column;

        .description__info-label {
          color: $color-gray-300;
        }

        .description__info-text {
          text-decoration: none;
          color: $color-gray-500;
        }
      }
    }
  }
  .footer__floor-container {
    background-color: #232323;
    height: 58px;
    width: 100%;

    .footer__floor {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $color-gray-500;

      .social-logo {
        margin-left: 4px;
      }
    }
  }
}
