@import "src/theme/variables";

.close-btn {
  border-radius: 50%;
  width: 38px;
  height: 38px;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $color-gray-200;
  }
  &:active {
    background-color: $color-gray-300;
  }
}
