<div class="modal-header">
	<h4 class="modal-title">Вход</h4>
	<button class="btn close-btn" type="button" (click)="activeModal.close('Close click')">
		<i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body">
	<label for="phone" class="form-label">Телефон</label>
	<input id="phone" class="form-control" type="text">
	<span>Test</span>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-success" (click)="activeModal.close('Close click')">Войти</button>
</div>
